---
import Section from "@components/Section.astro";
import Wrapper from "./Wrapper.tsx";
import Chart from "./Chart.tsx";
---

<Section>
  <Wrapper client:load>
    <Chart client:only="react" />
  </Wrapper>
</Section>
