---
import Section from "@components/Section.astro";
import Wrapper from "./Wrapper.tsx"
import Chart from "./Chart.tsx"
---

<Section>
  <Wrapper client:only="solid-js">
    <Chart client:only="react" />
  </Wrapper>
</Section>
