---
import Section from "@components/Section.astro";
import Steps from "./Steps.tsx"
import Form from "./form/Form.tsx"
import ResultsWaiting from "./results/ResultsWaiting.tsx"
---

<Section>
  <Steps client:load>
    <Form client:load />
    <ResultsWaiting client:only="solid-js" />
  </Steps>
</Section>
