---
type Props = {
  title: string;
};

import Head from "./Head.astro";
import PendingResultsUpdater from "./PendingResultsUpdater.astro";
import Localstorage from "./Localstorage.astro";
const { title } = Astro.props;
import "../styles/index.css";
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} />
  <body>
    <slot name="navbar" />
    <main class="py-16">
      <slot />
    </main>
    <slot name="footer" />
    <PendingResultsUpdater />
    <Localstorage />
  </body>
</html>
