---
import Page from "@components/Page.astro";
import Footer from "@components/Footer.astro";
import Topbar from "@components/Topbar.astro";
import PendingResultsUpdater from "@components/PendingResultsUpdater.astro";
import UserStorage from "@components/UserStorage.astro";
import UserModal from "@components/UserModal.tsx";
import InfoBanner from "@components/InfoBanner.tsx";
import Results from "@layout/results/Results.astro";
---

<Page title="Results">
  <Topbar slot="navbar" />
  <div class="my-2">
    <InfoBanner client:only="solid-js">
      In this area, you select the results you want to compare, up to <span
        class="font-bold">5</span
      >.
    </InfoBanner>
  </div>
  <div class="my-2">
    <Results />
  </div>
  <Footer slot="footer" />
  <UserModal slot="user-modal" client:only="solid-js" />
  <PendingResultsUpdater slot="pending-results-updater" />
  <UserStorage slot="user-storage" />
</Page>
