---
import Section from "@components/Section.astro";
import Steps from "./Steps.tsx";
import Form from "./form/Form.tsx";
import ResultsWaiting from "./results/ResultsWaiting.tsx";
---

<Section>
  <Steps client:only="solid-js">
    <Form client:only="solid-js" />
    <ResultsWaiting client:only="solid-js" />
  </Steps>
</Section>
